/*
	Installed from https://reactbits.dev/ts/default/
*/

.curved-loop-jacket {
  min-height: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 8;
  overflow: visible;
  display: block;
  font-size: 4rem;
  /* fill: #ffffff; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}